v2droid/bin
v2droid/gen
v2droid/libs-src/actionbarsherlock-library/bin
v2droid/libs-src/actionbarsherlock-library/gen
v2droid/libs-src/crouton-library/bin
v2droid/libs-src/crouton-library/gen
v2droid/libs-src/holoeverywhere-library/bin
v2droid/libs-src/holoeverywhere-library/gen
v2droid/libs-src/holoeverywhere-slidingmenu-library/bin
v2droid/libs-src/holoeverywhere-slidingmenu-library/gen
v2droid/libs-src/pulltorefresh-library/bin
v2droid/libs-src/pulltorefresh-library/gen
v2droid/libs-src/slidingmenu-library/bin
v2droid/libs-src/slidingmenu-library/gen
v2droid/libs-src/stickygridheaders-library/bin
v2droid/libs-src/stickygridheaders-library/gen
v2droid/libs-src/viewpagerindicator-library/bin
v2droid/libs-src/viewpagerindicator-library/gen